@import "../../../styles/constans";

.navbar-container {
    width: 100%;
    background-color: $page-footer;
    margin: 0;
    position: fixed;
    top: 0;
    display: flex;
}

.navbar-container ul {
    margin: 0;
    padding: 10px;
    background-color: $page-footer;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > li {
        font-size: 28px;
        margin: 0 20px;
    }
}

@media (max-width: 600px) {
    .navbar-container {
        position: relative;
    }

    .navbar-container ul {
        & > li {
            font-size: 20px;
            padding: 5px;
        }
    }
}
