@import "../../../styles/constans";

.app-container {
    background-color: $page-background;
    width: 100%;

    min-height: 90vh;

    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 600px) {
    .app-container {
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
    }
}
