// @import "../../../styles/constans";
@import "../../../styles/constans";
button {
    margin: 10px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: $white-color;
    font-weight: bold;
    cursor: pointer;

    &:active {
        outline: none;
        border: 2px solid black;
        transform: scale(0.8);
    }

    &.clicked {
        border: 2px solid black;
    }
}
